<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="События">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Название</Data></Cell>
        <Cell><Data ss:Type="String">Статус</Data></Cell>
      </Row>
      <% @events.each do |event| %>
          <Row>
            <Cell><Data ss:Type="String"><%= event.name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= event.opened %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>