.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{href: "#history", "data-toggle" => "tab"} History  
    %li
      %a{href: "#tasks", "data-toggle" => "tab"} Tasks  
    %li
      %a{href: "#people", "data-toggle" => "tab"}
        People
        = "(#{object.people.count})"
    %li
      %a{href: "#deals", "data-toggle" => "tab"} Deals
  .tab-content
