%ul.nav.nav-tabs
  %li.active
    %a{href: "#histories", "data-toggle" => "tab"} History
  %li
    %a{href: "#tasks", "data-toggle" => "tab"} Tasks    
  %li
    %a{href: "#participants", "data-toggle" => "tab"} Participants