$inputBorderRadius: 0px;
$formActionsBackground: #FFF;

@import 'bootstrap';

table.table-condensed {
  td {
    vertical-align: top;
  }
}

h1, h2, h3 { font-weight: normal; }
h1 {
  color: #111111;
  font-size: 24px;
}

.navbar {
  li {
    white-space: nowrap;
  }
}

.buttons-panel {
  a {
    display: inline-block;
    padding-left: 20px;
    margin-right: 20px;
    background: url("button_add.png") transparent center left no-repeat;
  }
  a.add { background-image: url("button_add.png"); }
  a.edit { background-image: url("button_edit.png"); }
  a.close-event { background-image: url("button_close.png"); }
  a.open { background-image: url("button_open.png"); }
}

.filter {
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;
  
  form, input[type="text"] {
    width: 90%;
  }

  input[type="submit"] {
    border: none;
    background: url("filter_search_button.png") center no-repeat    
  }
}

.tabbable {
  li {
    a { border: 0; }
    background-color: #F3F3F3;
    border: 1px solid #D1D1D1;
    
    margin-right: 2px;
  }

  li.active {
    background-color: $white;
    border-bottom: 1px solid $white;
    a, a:hover { border: 0; }
  }
}

.date_picker {
  width: 90px;
  margin-right: 2px;
}

/* Fields */
fieldset > .control-group {
  
  width: 50%;
  
  select { background-color: #FFF; }

  .controls.one-line {

    input[type="text"] {
      width: 70%;
      border-right: none;
    }
    select {
      width: 20%;
      border-left: none;
    }

    a > img {
      margin-top: -3px;
    }
  }

  .controls {
    textarea {
      width: 448px;
    }
  }

  .address-first-line {
    input[type="text"] { width: 150px; }
  }

  .address-second-line {
   select { width: 151px; } 
   .country { width: 303px; }
  }
}