$inputBorderRadius: 0px;

@import 'bootstrap';

table.table-condensed {
  td {
    vertical-align: top;
  }
}

h1 {
  color: #111111;
  font-size: 24px;
  font-weight: normal;
}

.buttons-panel {
  a {
    background: transparent url("blue_plus.png") center left no-repeat;
    padding-left: 20px;
    margin-right: 20px;
  }
}

.filter {
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;
  
  form, input[type="text"] {
    width: 90%;
  }

  input[type="submit"] {
    border: none;
    background: url("filter_search_button.png") center no-repeat    
  }
}

.tabbable {
  li {
    a { border: 0; }
    background-color: #F3F3F3;
    border: 1px solid #D1D1D1;
    
    margin-right: 2px;
  }

  li.active {
    background-color: $white;
    border-bottom: 1px solid $white;
    a, a:hover { border: 0; }
  }
}

.date_picker {
  width: 90px;
  margin-right: 2px;
}