.tasks {
  .type {
    width: 32px;
  }
  .task {
    color: #CC3333;
    .title {
      font-size: 14px;
      font-weight: bold;
    }
  }
  .active {
    .title {
      color: #1A6DB3;
    }
    .description {
      color: #000;
    }
    .date {
      color: #000;
    }
  }
  .links {
    width: 40px;
  }
}