%fieldset
  = f.input :email
  = f.association :email_type, include_blank: false 
  = f.hidden_field :_destroy
  = link_to ('<i class="icon-trash"></i> '+t('.remove_email')).html_safe, '#', class: "btn btn-warning remove_email_fields"